
.A{
   margin-left: 20px ;
   margin-right: 20px;
   text-align: center;
   background-color: aliceblue;
   font-size: 25px;
   padding: 10px;
   
}

.B{
   background-color: blue;
   color: rgb(228, 231, 239);
   font-size: 65px;
   text-align: center;
 
}
.C{
   background-color: rgb(213, 198, 198);
   display: flex;
   text-align: center; 
   padding: 35px;
 
}
.F{
   background-color: darkorange;
   margin: 0%;
}
.E{
   display: flex;
   padding: 15px;
   
}
.I{
   width: 140px;
   height: 140px;
   margin-left: 70px;
   margin-bottom: 15px;
}
.J{
   width: 20px;
   height: 20px;
   margin: 10px;
}
.D{
   background-color: rgb(24, 189, 218);
   padding: 8px;
}